<div class="flex flex-col px-6 py-4 bg-white rounded-2xl">
    <div class="overflow-auto transition-discrete">
        <table class="border-collapse border border-gray-400">
            <thead>
                <tr class="bg-gray-100">
                    <th class="border border-gray-300 p-2">เดือน</th>
                    <th class="border border-gray-300 p-2">เงินเดือน</th>
                    <th class="border border-gray-300 p-2">โบนัส</th>
                    <th class="border border-gray-300 p-2">หักภาษี</th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr class="hover:bg-gray-50 text-right">
                    <td class="border border-gray-300 p-2 text-center">{{item.month}}</td>
                    <td class="border border-gray-300 p-2">{{item.salary | number: '0.2'}}</td>
                    <td class="border border-gray-300 p-2">{{item.bonus | number: '0.2'}}</td>
                    <td class="border border-gray-300 p-2">{{item.cost | number: '0.2'}}</td>
                </tr>
                }
                @empty {
                <tr>
                    <td colspan="5" class="p-2 text-center text-sm">No data.</td>
                </tr>
                }
                <tr class="bg-gray-100">
                    <td class="border border-gray-300 p-2">รวม</td>
                    <td class="border border-gray-300 p-2 text-right">{{total('salary')}}</td>
                    <td class="border border-gray-300 p-2 text-right">{{total('bonus')}}</td>
                    <td class="border border-gray-300 p-2 text-right">{{total('')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>