<div class="flex flex-col h-full px-6 py-4">


    <div class="flex flex-row justify-between mb-2">
        <div class="text-xl font-semibold">Home Page</div>
        <button class="bg-gray-400 px-4 py-1.5 hover:bg-blue-600 rounded">
            <fa-icon [icon]="faPlus"></fa-icon>
            <i class="fas fa-home"></i>
            <span class="ml-2">New</span>
        </button>
    </div>

    <div class="flex flex-row gap-2 py-4" [formGroup]="form">
        <input class="w-fit border p-2" formControlName="vetId" placeholder="Vet Id">
        <input class="w-fit border p-2" formControlName="type" placeholder="Type">
        <input class="w-fit border p-2" formControlName="month" placeholder="Month">
        <button class="border px-4 py-1.5 rounded-md" (click)="onSearch()">OK</button>
        <button class="border px-4 py-1.5 rounded-md" (click)="onClear()">CLEAR</button>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Vet Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vet Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        เดือน
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ประเภท
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ลงประวัติ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ยอดรวม
                    </th>
                    <th scope="col" class="px-6 py-3">
                        จำนวนวันที่ลงตรวจ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        รายได้เฉลี่ย/ลงประวัติ
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ลงประวัติ/วัน
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track $index) {
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.vetId}}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{item.month}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.type}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.history}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.total}}
                    </td>
                    <td class="px-6 py-4">
                        {{item.days}}
                    </td>
                    <td class="px-6 py-4">
                        {{(item.total/item.history) | number: '0.2-2'}}
                    </td>
                    <td class="px-6 py-4">
                        {{(item.history/item.days) | number: '0.2-2'}}
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>